body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #161616;
}

p,
span,
img,
i,
h1,
div {
  cursor: pointer;
}
header {
  border-radius: 10px;
  background-color: #161616;
}

header h1 {
  font-weight: 700;
}
header article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
p.header-link-btn {
  width: 161px;
  padding: 7px 0;
  background: #dd0000;
  border-radius: 5px;
  font-family: "HelveticaNeue";
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  box-shadow: inset 0 0 0 0 #545454;
  transition: ease-out 0.3s;
}

p.header-link-btn:hover {
  color: #fefefe;
  font-weight: 700;
  box-shadow: inset 200px 0 0 0 #8524c2;
  cursor: pointer;
}
/* main section */

.hightlights-aside-btn:hover {
  background-color: rgb(195, 0, 255);
  color: black;
  opacity: 0.8;
  font-weight: 600;
}
/* Blog style */

.transfer-btn:hover:hover {
  border: 1px solid white;
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
}
.blog-schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.flag {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.flag h3 {
  padding: 0 10px;
}

.see-more-btn {
  display: none;
}

